# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public/page-data
/public/slides
/public/static
/public/index.html
/public/manifest.webmanifest
/public/icons
.DS_Store

.vscode/
